.flex-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.hue-btn-on-off {
	height: 60px;
	color: white;
	font-size: large;
	border-radius: 20%;
	border: 2px solid white;
	background-color: black;
}

.hue-btn-on-off[on='true'] {
	background-color: grey;
}

.hue-btn-theme {
	width: 25%;
	height: 60px;
	color: white;
	font-size: large;
	border-radius: 0%;
	border: 2px solid white;
	background-color: black;
}

.hue-btn-on-off button:focus {
	outline: 0;
}

.hue-btn-on-off button:active {
	background-color: grey;
}
